.roomType {
  color: rgb(62, 56, 78);
  font-family: Arial;
  font-size: 12px;
}
.roomDescription {
  color: rgb(31, 25, 25);
  font-family: Cambria;
  font-size: 16px;
  font-weight: bold;
}
.price {
  font-size: 14px;
  font-family: Arial;
}
.rating {
  font-size: 12px;
}